body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;
    background-color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}

#group-add-todo{
    display: flex;
    justify-content: center;
    align-items: center;   
}
#group-header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 80vw;
}
.group-header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

@media screen and (max-width: 500px) {
    #group-header{
        height: 150px;
    }
    .group-header-section{
        height: 150px;
    }
}